# Copyright: Copyright (c) 2012 Opscode, Inc.
# License: Apache License, Version 2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author:: Ameya Varade (<ameya.varade@clogeny.com>)
# Author:: Prabhu Das (<prabhu.das@clogeny.com>)

# FIXME For now we will fetch the  creds from a config file

os_creds:
  openstack_username: openstack_username
  openstack_password: openstack_password
  openstack_tenant: openstack_tenant
  openstack_auth_url: openstack_auth_url

os_ssh_params:
  key_pair: key_pair
  ssh_user: ubuntu
  ssh_user_for_windows: ssh_user_for_windows
  ssh_password_for_windows: ssh_password_for_windows
  invalid_key_pair_name: invalid_key

os_winrm_params:
  winrm_user: winrm_user
  winrm_password: winrm_password

knife_params:
  linux_image: linux_image
  windows_image: windows_image
  ssh_enabled_windows_image: ssh_enabled_windows_image
  invalid_image: some-invalid-image-random-string
  invalid_security_group: invalid-group
  linux_flavor: linux_flavor
  windows_flavor: windows_flavor
  invalid_flavor: invalid_flavor
