# FIXME For now we will fetch the  creds from a config file
OPENSTACK_KEY_PAIR: OPENSTACK_KEY_PAIR
OS_SSH_USER: OS_SSH_USER
OS_WINDOWS_SSH_USER: OS_WINDOWS_SSH_USER
OS_WINDOWS_SSH_PASSWORD: OS_WINDOWS_SSH_PASSWORD
OS_WINRM_USER: OS_WINRM_USER
OS_WINRM_PASSWORD: OS_WINRM_PASSWORD
OS_LINUX_IMAGE: OS_LINUX_IMAGE
OS_WINDOWS_IMAGE: OS_WINDOWS_IMAGE
OS_WINDOWS_SSH_IMAGE: OS_WINDOWS_SSH_IMAGE
OS_LINUX_FLAVOR: OS_LINUX_FLAVOR
OS_WINDOWS_FLAVOR: OS_WINDOWS_FLAVOR
OS_INVALID_FLAVOR: OS_INVALID_FLAVOR
